<!doctype html>
<html>
<head>
<title> Home </title>
</head>

<body>
<h1> Welcome To the Home Page </h1>
<p> The links below direct you to various table pages </p>

<nav>
	<ul>
		<li><a href="/Players"> Players </a></li>
		<li><a href="/Teams"> Teams </a></li>
		<li><a href="/Averages"> Averages </a></li>
		<li><a href="/Matches"> Matches </a></li>
		<li> <a href="/Conference"> Conference </a> </li>
		<li> <a href="/Positions"> Positions </a> </li>
	</ul>
</nav>

{{{body}}}
</body>
</html>
